#### Write a Python program to print the numbers from 1 to 10 using a for loop.

In [3]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

#### Write a Python program to print the numbers from 20 to 1 using a while loop.

In [3]:
number = 1
while number < 21:
    print(number)
    number += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

#### Write a program to print even numbers from 1 to 10.

In [6]:
for i in range(1,11):
    if (i % 2) == 0:
        print(i)

2
4
6
8
10

#### Write a program that prompts the user to enter a number n and prints all the numbers from 1 to n.

In [19]:
n = int(input("Enter your number"))
for i in range(1, n+1):
    print(i)

Enter your number 10

1
2
3
4
5
6
7
8
9
10

#### Write a program that prompts the user to enter a number n, and then prints all the odd numbers between 1 and n.

In [24]:
odd_num = int(input("Enter your number tp print odd numbers between 1 and n."))
for i in range(1, odd_num):
    if (i % 2) == 1:
        print(i)

Enter your number tp print odd numbers between 1 and n. 12

1
3
5
7
9
11

In [28]:
for i in range(0,5):
    print("Happy Birthday!")

Happy Birthday!
Happy Birthday!
Happy Birthday!
Happy Birthday!
Happy Birthday!

#### Write a program that takes a number n as input from the user and generates the first n terms of the series formed by squaring the natural numbers.
#### Sample output
- Enter a number: 6
- The first 6 terms of the series are:
- 1 4 9 16 25 36

In [51]:
terms_seq = int(input("Enter number to show the series"))
for i in range(1, terms_seq):
    num = pow(i,2)
    print(num)

Enter number to show the series 6

1
4
9
16
25

#### Write a program that prompts the user to input a number and prints its multiplication table.

In [94]:
table_num = int(input("Enter the number to print its table"))
for i in range(1,11):
    print(table_num , 'x' , i , '=' , (i * table_num))

Enter the number to print its table 7

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

#### Write a Python program to print the first 8 terms of an arithmetic progression starting with 3 and having a common difference of 4.
- The program should output the following sequence:
- 3 7 11 15 19 23 27 31

In [92]:
ari_n = int(input("Enter the number of terms to print: "))
value = 3

for i in range(ari_n):
    print(value)
    value += 4

Enter the number of terms to print:  8

3
7
11
15
19
23
27
31

### Write a Python program to print the first 6 terms of a geometric sequence starting with 2 and having a common ratio of 3.
- The program should output the following sequence:
- 2 6 18 54 162 486

In [101]:
value = 2
for j in range(6):
    print(value, end=" ")  
    value *= 3

2 6 18 54 162 486

#### Write a program that asks the user for a positive integer value. The program should calculate the sum of all the integers from 1 up to the number entered. For example, if the user enters 20, the loop will find the sum of 1, 2, 3, 4, ... 20

In [28]:
value = 0
pos_num = int(input("Enter any number a positive integer value: "))
for i in range(1, pos_num + 1):
    if i > 0:
        value += i
    else:
        print("Enter a positive value")
        
print(value)

Enter any number a positive integer value:  5

15

#### write a program that takes a positive integer N as input and calculates the sum of the reciprocals of all numbers from 1 up to N. The program should display the final sum. 
- Output of the program should be like:
- Enter a positive integer: 5
- The sum of reciprocals from 1 to 5 is: 2.28

In [49]:
rep_sum = 0.0
value = 0
rep_num = int(input("Enter a positive integer: "))
for i in range(1, rep_num + 1):
    if i > 0:
        value += 1 / i
    else:
        print("Enter a positive value")

print("The sum of reciprocals from 1 to" , rep_num , "is: ", value)

Enter a positive integer:  5

The sum of reciprocals from 1 to 5 is:  2.283333333333333

#### Write a program that prompts the user to enter a number and repeats this process 5 times. The program should accumulate the numbers entered and then display the final running total.
#### Sample Output:
- Enter a number: 10
- Enter a number: 15
- Enter a number: 35
- Enter a number: 40
- Enter a number: 50
- The final running total is: 150

In [63]:
total = 0
for k in range(0, 5):
    total += int(input("Enter a number: "))
print(f"The final running total is: {total}")

Enter a number:  10
Enter a number:  15
Enter a number:  35
Enter a number:  40
Enter a number:  50

The final running total is: 150

#### Write a program that prompts the user to enter a positive integer and calculates its factorial.

In [78]:
fac_num = int(input("Enter a positive integer: "))
n = 1
for i in range(1, fac_num):
    n += n*i
print(f"The factorial of {fac_num} is ",n)

Enter a positive integer:  10

The factorial of 10 is  3628800

In [122]:
base = int(input("Enter your base"))
n_p = int(input("Enter your power"))
result = 1
for n_p in range(0, n_p):
    result *= base
print(result)

Enter your base 2
Enter your power 6

64